[user]
	name = <your name>
	email = <your e-mail>
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[core]
	autocrlf = input
[alias]
	lol = log --graph --oneline --decorate --color --all
[github]
	user = <your username>
